<template>
  <main class="cart">
    <h1>carrinho</h1>
  </main>
</template>

<script setup>
import { inject } from "@vue/runtime-core";

inject("open-modal", (value) => {
  console.log(value);
});
</script>

<style scoped>
.cart {
  background: #ffffff;
  position: absolute;
  top: 150px;
  flex: 1;
  right: 30px;
}
</style>
