<template>
  <main class="products-page">
    <div v-for="(product, index) in products" :key="index" class="product">
      <img :src="product.img" :alt="product.title" />
      <div class="content">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <div class="stars-and-price">
          <span></span>
          <div class="rating">
            <img
              v-for="star in product.stars"
              :key="star"
              src="../../assets/star.svg"
            />
          </div>
          <strong>{{ filterValue(product.price) }}</strong>
        </div>
      </div>
      <button class="add-cart">ADICIONAR AO CARRINHO</button>
    </div>
  </main>
</template>

<script setup>
import { ref } from "@vue/reactivity";
import { api } from "../../services/api";
import { filterValue } from "../../helpers/filters";

const products = ref([]);

const getProducts = () => {
  api.get("/").then((res) => {
    products.value = res.data;
  });
};
getProducts();
</script>

<style scoped>
.products-page {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  place-content: center;
  gap: 20px;
  border: 1px solid;
}
.product {
  image-rendering: optimizeSpeed;
  width: 351px;
  height: 350px;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product .content {
  padding: 0 30px;
  flex: 1;
}
.product img {
  width: 100%;
  height: 164px;
  object-fit: cover;
}
.product h2 {
  margin-top: 17px;
  font-size: 19px;
  font-weight: bold;
}
.product p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product .stars-and-price {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 16px;
}
.product .add-cart {
  background: #60a12d;
  width: 100%;
  color: white;
  font-weight: bolder;
  height: 52px;
}
.product .stars-and-price span {
  background: url("../../assets/rating.svg") no-repeat;
  flex: 1;
  position: relative;
}
.product .stars-and-price .rating {
  display: flex;
  position: absolute;
  width: 95.34px;
  gap: 6.2px;
  margin-top: 1.1px;
  margin-left: 1px;
}
.product .stars-and-price .rating img {
  width: 13.93px;
  height: 13.33px;
}
</style>
