<template>
  <MainHeader />
  <main class="main">
    <ProductsList />
    <Cart />
  </main>
</template>

<script setup>
import MainHeader from "@/components/Header/MainHeader.vue";
import ProductsList from "@/components/Product/ProductsList.vue";
import Cart from "@/components/Cart/Cart.vue";

import { ref } from "@vue/reactivity";

const name = ref("yuri");
</script>

<style scoped>
.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 856px;
  padding: 30px;
}
</style>
