<template>
  <header class="header">
    <nav class="nav">
      <svg
        class="logo"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 700 700"
      >
        <path
          d="M300.09 406.62v-9.45h-100v9.45h45.28v81.11h-45.28v9.44h100v-9.44h-45.28v-81.11h45.28zM449.91 402.83a50.19 50.19 0 00-50 50.26v49.74h9.39V499a38 38 0 0137.9-38.09h4.69v-9.44h-4.69a47.12 47.12 0 00-37.9 19.22v-17.6a40.61 40.61 0 1181.22 0v49.74h9.39v-49.74a50.19 50.19 0 00-50-50.26M449.91 297.17a50.19 50.19 0 01-50-50.26v-49.54h9.39v49.54a40.61 40.61 0 1081.22 0v-49.74h9.39v49.74a50.19 50.19 0 01-50 50.26M290.64 297.17h9.45v-100h-9.45v45.28h-81.1v-45.28h-9.45v100h9.45v-45.28h81.1v45.28z"
        ></path>
      </svg>

      <h1>Huia - Teste Desenvolvimento Front-End</h1>

      <button class="cart" @click="openCartModal">
        <img src="../../assets/cart.svg" alt="Carrinho" title="Carrinho" />
        <span>{{ filterPrice(totalItemsInCart) }}</span>
      </button>
    </nav>
  </header>
</template>

<script>
import { computed, provide } from "@vue/runtime-core";
import { useStore } from "vuex";
import { filterValue } from "../../helpers/filters";
const store = useStore();

export default {
  setup() {
    const filterPrice = (value) => {
      return filterValue(value);
    };
    const totalItemsInCart = computed(() => {
      return store.state.count;
    });
    const openCartModal = () => {
      provide("open-cart", true);
    };
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  background: #f1f1f1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 30px 10px;
}
.logo {
  width: 80px;
  height: 80px;
  background: black;
  fill: white;
}
.cart {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart img {
  width: 30px;
  height: 30px;
}
</style>
