<template>
  <router-view></router-view>
</template>

<script>
export default {
  setup() {},
};
</script>

<style>
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

body {
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
  font-family: "Poppins", sans-serif;
}
</style>
